.about-author__description {
  margin: 131px 0 0 56px;
}

@media screen and (max-width: 768px) {
  .about-author__description {
    margin: 40px 0 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .about-author__description {
    margin: 24px 0 0 0;
  }
}