.header__logo{
  margin-left: min(calc( (100vw - 768px)/(1440 - 768) * (104 - 40) + 40px),104px);
  align-self: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (max-width: 767px){
  .header__logo{
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 16px;
    font-size: 16px;
    font-weight: bold;
  }
}