.article__pic {
  width: 100%;
  max-height: 272px;
  height: calc( (100vw - 768px)/(1440 - 768) * (272 - 150) + 150px);
  background-image: url('../../../images/article_pic1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .article__pic {
    height: 196px;
  }
}