.article__drive {
  background: #FFFFFF;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  text-align: center;
  background-image: url('../../../images/bookmark.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.article__drive:hover {
  cursor: pointer;
  background-image: url('../../../images/bookmark_active.svg');
}