.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 min(calc( (100vw - 768px)/(1440 - 768) * (104 - 40) + 40px),104px);;
  height: 80px;
}

@media screen and (max-width: 767px) {
  .footer__container {
    flex-wrap: wrap;
    margin: 0 15px;
    height: 100%;
    justify-content: center;
  }

}