.search__button {
  position: absolute;
  top: 0;
  left: calc(100% - calc( (100vw - 768px)/(1440 - 768) * (168 - 160) + 158px));
  background: #2f71e5;
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  border: 1px solid #2f71e5;
  border-radius: 100px;
  font-family: 'Roboto',  Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  width: calc( (100vw - 768px)/(1440 - 768) * (168 - 160) + 160px);
  height: calc( (100vw - 768px)/(1440 - 768) * (64 - 56) + 56px);

}

@media screen and (max-width: 767px) {
  .search__button {
    margin-top: 16px;
    height: 56px;
    left: 0;
    top: 0;
    width: 100%;
    position: relative;
  }
}