.footer__link{
  color: #1A1B22;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .footer__link {
    line-height: 48px;
    margin-left: 0;
    margin-right: 30px;
  }
}
