@import url(__button/search__button.css);
@import url(__form/search__form.css);
@import url(__input/search__input.css);
@import url(__subtitle/search__subtitle.css);
@import url(__title/search__title.css);

.search {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 608px;
}
@media screen and (max-width: 768px) {
  .search {
    margin-top:  38px ;
    margin-bottom:  48px ;
    width: calc( (100vw - 320px)/(768 - 320) * (448 - 288) + 288px);
  }
}
@media screen and (max-width: 320px) {
  .search {
    margin-top:  30px ;
    margin-bottom:  32px ;
  }
}