.saved-articles{
  background: #F5F6F7;
  padding: min(calc( (100vw - 768px)/(1440 - 768) * (62 - 24) + 24px),62px)
}
@media screen and (max-width: 767px){

  .saved-articles{
    padding: 24px;
  }
}