.about-author__title {
  font-family: 'RobotoSlab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc( (100vw - 768px)/(1440 - 768) * (40 - 30) + 30px);
  line-height: calc( (100vw - 768px)/(1440 - 768) * (46 - 40) + 40px);
  color: #1a1b22;
  margin: 0;
}

