.popup__input {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  height: 30px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  color: #000;
  opacity: .2;
  margin-bottom: 30px;
}

.popup__input:focus {
  opacity: 1;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
  background-color: #00ffff;
}

.popup__input:valid:not(:placeholder-shown) {
  opacity: 1;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
}

.popup__input:invalid:not(:placeholder-shown) {
  border-color: #df4b41;
}

.popup__input:invalid:not(:placeholder-shown) + .popup__error {
  display: block;
  margin: 3px 0 12px 0;
}

