@import url(vendor/normalize.css);
@import url(vendor/fonts.css);
@import url(blocks/header/header.css);
@import url(blocks/button/button.css);
@import url(blocks/link/link.css);
@import url(blocks//popup/popup.css);
@import url(blocks/search-and-header-container/search-and-header-container.css);
@import url(blocks/search/search.css);
@import url(blocks/about-author/about-author.css);
@import url(blocks/circle-preloader/circle-preloader.css);
.article {
  border-radius: 20px;
  max-width: 400px;
  width: calc( (100vw - 768px)/(1440 - 768) * (400 - 224) + 224px);
  max-height: 576px;
  height: calc( (100vw - 768px)/(1440 - 768) * (576 - 420) + 420px);
  background-color: #fff;
  overflow: hidden;
  transition: transform 1s;
}

.search-results__succes-container {
  max-width: 1248px;
  margin: auto;
}

.article__pic {
  width: 100%;
  max-height: 272px;
  height: calc( (100vw - 768px)/(1440 - 768) * (272 - 150) + 150px);
  background-image: url('./images/article_pic1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.search-results {
  background-color: #F5F6F7;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.article__container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px 16px;
  justify-content: center;
}

.search-results__more {
  width: min(calc( (100vw - 768px)/(1440 - 768) * (288 - 240) + 240px), 288px);
  height: min(calc( (100vw - 768px)/(1440 - 768) * (64 - 56) + 56px), 64px);
  background: #FFF;
  border-radius: 80px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  border: none;
  margin: min(calc( (100vw - 768px)/(1440 - 768) * (64 - 22) + 22px), 64px) auto min(calc( (100vw - 768px)/(1440 - 768) * (80 - 40) + 40px), 80px);
  display: block;
}

.article__menu {
  padding: 24px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.article__drive {
  background: #FFFFFF;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  text-align: center;
  background-image: url('./images/bookmark.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.article__drive:hover {
  cursor: pointer;
  background-image: url('./images/bookmark_active.svg');
}

.article__keyword {
  display: flex;
  align-items: center;
  height: 100%;
  background: #FFFFFF;
  border-radius: 8px;
  display: none;
}

.article__status {
  display: flex;
  align-items: center;
  height: 100%;
  background: #FFFFFF;
  border-radius: 8px;
  margin-right: 5px;
  margin-left: auto;
  display: none;
}

.article__keyword-value {
  margin: 0 24px;
}

.article__status-value {
  margin: 0 24px;
}

.article__date {
  font-family: 'SourceSansPro', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}

.article__header {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: min(calc( (100vw - 768px)/(1440 - 768) * (26 - 22) + 22px), 26px);
  line-height: min(calc( (100vw - 768px)/(1440 - 768) * (30 - 24) + 24px), 30px);
  color: #1A1B22;
  margin-top: 12px;
  margin-bottom: 0;
  width: 90%;
}

.article__content {
  margin-top: min(calc( (100vw - 768px)/(1440 - 768) * (16 - 10) + 10px), 16px);
  width: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin-bottom: min(calc( (100vw - 768px)/(1440 - 768) * (18 - 12) + 12px), 18px);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.article__source {
  font-family: 'RobotoSlab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
}

.article__data {
  margin: min(calc( (100vw - 768px)/(1440 - 768) * (20 - 16) + 16px), 20px) min(calc( (100vw - 768px)/(1440 - 768) * (24 - 16) + 16px), 24px) 0;
  display: grid;
  height: min(calc( (100vw - 768px)/(1440 - 768) * (260 - 248) + 248px), 260px);
}

.circle-preloader__text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 24px auto auto;
}

.search-text {
  margin: min(calc( (100vw - 768px)/(1440 - 768) * (80 - 40) + 40px), 80px) auto min(calc( (100vw - 768px)/(1440 - 768) * (64 - 32) + 32px), 64px) auto;
  font-family: 'RobotoSlab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: min(calc( (100vw - 768px)/(1440 - 768) * (40 - 30) + 30px), 40px);
  line-height: min(calc( (100vw - 768px)/(1440 - 768) * (46 - 34) + 34px), 46px);
  color: #1A1B22;
}

.search-results__searching-container {
  height: 282px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.search-results__not-found-container {
  height: 374px;
  display: flex;
  flex-direction: column;
}

.search-results__succes-container_hide {
  display: none;
}

.search-results__searching-container_hide {
  display: none;
}

.search-results__not-found-container_hide {
  display: none;
}

.search-results__not-found-icon {
  margin: 80px auto 24px;
}

.search-results__not-found-header {
  font-family: 'RobotoSlab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 0 auto 16px;
}

.search-results__not-found-text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 0 auto;
  max-width: 290px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .article__container {
    grid-template-columns: 288px;
  }
  .article {
    width: 288px;
    height: 440px;
  }
  .article__pic {
    height: 196px;
  }
  .article__date {
    font-size: 18px;
    line-height: 24px
  }
  .article__header {
    font-size: 22px;
    line-height: 26px;
  }
  .article__data {
    margin: 16px;
    height: 212px;
  }
  .article__content {
    -webkit-line-clamp: 4;
  }
  .search-text {
    margin: 32px auto 24px auto;
    font-family: 'RobotoSlab', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: #1A1B22;
    width: 90%;
  }
  .search-results__more {
    margin: 15px auto 32px;
    width: 100%;
  }
}