
.article__date {
  font-family: 'SourceSansPro', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}

@media screen and (max-width: 767px) {
  .article__date {
    font-size: 18px;
    line-height: 24px
  }
}