@import url(__menu/header__menu.css);
@import url(__logo/header__logo.css);
@import url(__auth-button/header__auth-button.css);
@import url(__link/header__link.css);
@import url(__auth-text/header__auth-text.css);
@import url(__mobile-menu-pic/header__mobile-menu-pic.css);
@import url(_light/header_light.css);
@import url(__logout-pic/header__logout-pic.css);

.header{
  font-family: 'RobotoSlab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc( (100vw - 768px)/(1440 - 768) * (18 - 16) + 16px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc( (100vw - 768px)/(1440 - 768) * (80 - 66) + 66px);
  max-width: 1440px;
  color: #FFF;
  border-bottom: 1px solid rgba(196, 196, 196, .01);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .2);
}

@media screen and (max-width: 767px){
  .header {
    grid-template-columns: 1fr;
  }
}