.search-results__not-found-header {
  font-family: 'RobotoSlab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 0 auto 16px;
}