@import url(__container/popup__container.css);
@import url(__close/popup__close.css);
@import url(__title/popup__title.css);
@import url(__input/popup__input.css);
@import url(__form/popup__form.css);
@import url(__button/popup__button.css);
@import url(__error/popup__error.css);
@import url(_show/popup_show.css);
@import url(_hide/popup_hide.css);
@import url(__label/popup__label.css);
@import url(__text/popup__text.css);
@import url(__link/popup__link.css);
@import url(__text-wrapper/popup__text-wrapper.css);

.popup {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  align-items: center;
  justify-content: center;
}


